<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Locaweb Twitter</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <div class="container">
    <div class="page-header">
      <center>
        <img src="image/locaweb.svg" height="64" width="150" />
        <h1 style="color: #00aced">Twitters most relevants and user who more mentioned the Locaweb</h1>

        <a href="/"> Most Relevants </a> &nbsp;&nbsp;&nbsp;
        <a href="/most_mentions"> Most Mentions </a>

      </center>
    </div>

    <%= yield %>
    
  </div>

</body>
</html>